body{
    background-image: linear-gradient(to right,#6e00d5,#8282ff);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Formulario */
#formulario{
    position: relative;
    top: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
legend{
    position: relative;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
fieldset{
    border: none;
}
textarea{
    margin: 5px;
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
    height: 25px;
    width: 400px;
    margin: 5px;
}
select{
    height: 25px;
    width: 408px;
    margin: 5px;
    color: rgb(122, 122, 122);
}
#button{
    background-color: rgb(255, 255, 255);
    color: rgb(77, 6, 255);
    border: none;
    border: 1.5px solid rgb(77, 6, 255);
    border-radius: 3px;
    padding: 5px 10px;
}
#button:active{
   
    color: aliceblue;
    background-color: rgb(77, 6, 255);
}
/* Quiz */
#quiz-conteiner{
    position: relative;
    top: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 10px  ;
    border-radius: 20px;
    background-color: #ffffff;
    border: none;
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}
h2{
    color: #5e17eb;
}
button{
    padding: 5px 10px;
    color: aliceblue  ;
    border: none;
    background-color: #5e17eb;
    border-radius: 5px;
}

input#resposta{
    padding: 5px;
    width: 90%;
    margin-bottom: 10px;
    border: 1px solid rgb(154, 154, 154);
    border-radius: 2px;
    outline: none;
}
footer{
    text-align: center;
    position: absolute;
    top: 96%;
    left: 2%;
    color: rgb(254, 254, 254);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 10px;
}
a{
    text-decoration: none;
    color: #000000;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
/* butao */
#menuBtn{
    background-color: rgb(255, 255, 255);
    color: #5e17eb;
    border: 1px solid #5e17eb;
    position: absolute;
    top: 20px;
    left: 3px;
}
#menu{
  background: #ffffff;
  border:none;
  position: absolute;
  top: 20px;
}
nav li {
    list-style: none;
    }