body{
    position: relative;
    top: 250px;
    text-align: center;
    background: linear-gradient(to right,#e0c3fc,#8ec5fc);
}
#formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
fieldset{
    border: none;
    background-color: rgb(255, 255, 255);
    height: 150px;
    width: 270px;
    border-radius: 10px;
}
button{
    position: relative;
    top: 17px;
    background-color: rgb(0, 149, 255);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
}
legend{
    font-size: 25px;
    position: relative;
}