*{
    margin: 0;
    
}

img{
    width: 500px;
    position: relative;
    top:-40px;
   
}
body{
    background-color: rgb(63, 53, 47);
    height: 100vh;
   
}
.ingredientes{
    background-color: rgba(161, 112, 40, 0.7);
   color: aliceblue;
   display: flex;
   height: 350px;
    margin-top: 6dvb ;
    position: relative;
    gap: 90px;
}

.principal{
    display: flex;
    width: 100%;
    align-items: center;
    color: rgb(116, 78, 33);
    margin-top: 200px;
}
.texto{
    text-align: center;
    position: relative;
    top:-50px;
    font-size: 30px;
    position: relative;
    left: 78px;
}
.texto2{
    margin-top: 100px;
}
pre{
    font-size: 25px;
    font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h3{
     font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 35px;
  font-style: normal;
    position: relative;
    left: 15px;
}
h1{
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.content{
    width: 1100px;
    align-items: center;
    height: 100dvb;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #Feece0;
}
.margem1{
    margin-top: 60px;
    position: relative;
    left: 70px;
}

